

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
 
web/vendor/*
!web/vendor/idci

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# gedit temp file
*~
