<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <!--referencement ?-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{{ path('fibe_www_conf_homepage') }}" title="Go back to Index">WWWConf</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="{{ path('admin_schedule') }}" title="Go to the Simple Schedule interface">SimpleSchedule</a>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
</div>
