{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Create a link{% endblock title %}
{% block body %}

{{ parent() }} 
<div class="page-header">
  <h1> Link a paper to an event</h1>
</div>
<form id="createEvent" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary" onclick="create()>{% trans %}Create Event {% endtrans %}</button>
    </p>
</form>

<form id="linkPublication" method="post">
	<p>
		<input type="text" id="auteur"/><label for="auteur">Auteur Publication :</label> 
		<input type="text" id="titre"/><label for="titre">Titre Publication :</label> 
		<input type="text" id="ID"/><label for="ID">ID Publication :</label> 
        <button type="submit" class="btn btn-primary" onclick="link()">{% trans %}Link{% endtrans %}</button>
    </p>
</form>
{% endblock body %}
