{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
        <h1>SWC event linker</h1>
        <p>This app has been made to link easily manage a conference using SWC ontology.</p>
        <div class="row-fluid">
			      <div class="span4">
                <p><a href="{{ path('wwwconf_schedule') }}" class="btn btn-primary btn-large">Manage schedule <i class="icon-calendar icon-white"></i></a></p>
            </div>
            <div class="span3">
                <p><a href="{{ path('wwwconf_link_create') }}" class="btn btn-primary btn-large btn-success">New link <i class="icon-plus icon-white"></i></a></p>
            </div>
            <div class="span3">
                <p><a href="{{ path('wwwconf_link_list') }}" class="btn btn-info btn-large">See links »</a></p>
            </div>
        </div>
      </div>
      

{% endblock body %}

{%  block javascripts %} 

{% endblock %}
