{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
        <h1>Paper event linker</h1>
        <p>This app has been made to link easily a paper with its related event for the WWWConference at Lyon.</p>
        <div class="row-fluid">
            <div class="span4">
                <p><a href="{{ path('wwwconf_link_create') }}" class="btn btn-primary btn-large btn-success">New link <i class="icon-plus icon-white"></i></a></p>
            </div>
            <div class="span5">
                <p><a href="{{ path('wwwconf_link_list') }}" class="btn btn-primary btn-large">See links »</a></p>
            </div>
        </div>
      </div>
      

{% endblock body %}

{%  block javascripts %} 

{% endblock %}
