{% extends "fibeWWWConfBundle::base.html.twig" %}

{% block title %}Index{% endblock title %}
{% block body %}

{{ parent() }}

<div class="hero-unit">
        <h1>Paper event linker</h1>
        <p>This app has been made to link easily a paper with its related event for the WWWConference at Lyon.</p>
        <div class="row-fluid">
            <div class="span4">
                <p><a href="{{ path('wwwconf_link_create') }}" class="btn btn-primary btn-large btn-success">New link <i class="icon-plus icon-white"></i></a></p>
            </div>
            <div class="span5">
                <p><a href="{{ path('wwwconf_link_list') }}" class="btn btn-primary btn-large">See links »</a></p>
            </div>
        </div>
      </div>
      
<!-- type 'run()' in js console to import DB -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Import DB</h3>
  </div>
  <div class="modal-body">
    <h4>Complete Conf rdf File </h4>
    <h5><i>(such as : http://data.semanticweb.org/conference/www/2012/complete)</i></h5>
      <div class="input-append">
        <input type="text" id="DBURL" placeholder="Complete Conf rdf File"></input>
        <button  id="DBURLBtn" data-dismiss="modal" class="btn">
            <i class="icon-download-alt"></i> import
        </button>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> 
  </div>
</div>
{% endblock body %}

{%  block javascripts %} 
<script src="{{ asset('bundles/fibewwwconf/js/SWDFMoulinette.js') }}" type="text/javascript" ></script>

{% endblock %}
